<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2> How it works</h2>
        <p class="lead"> </p>

        <p class="lead">
        1. Take a photo of food
        </p>
        
        <p class="lead">
        2. It recognizes the food and the calories
        </p>

        <p class="lead">
        3. Send you a message when you every 1000 calories
        </p>
      
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
